@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #f8ffdd00;
}

html {
  /* font-size: 62.5%; */
  font-family: "Uni Sans Demo", sans-serif;
  font-weight: 500;
}

@media (max-width: 53em) {
  html {
    /* font-size: 10px; */
    font-size: 90%;
  }
}

@media (max-width: 26em) {
  html {
    /* font-size: 10px; */
    font-size: 80%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

input {
  all: unset;
}

textarea {
  all: unset;
}

.buttonStandart {
  @apply text-slate-50 font-bold shadow-exerciseCardHowerShadow min-w-max py-2 px-6 rounded bg-buttonColor hover:bg-buttonHoverColor;
}

.delete-buttonStandart {
  @apply text-slate-50 font-bold shadow-exerciseCardHowerShadow min-w-max py-2 px-6 rounded bg-red-600 hover:bg-red-500;
}

.footerMainContainer {
  @apply grid gap-4 grid-cols-1 py-8 px-10 text-center align-middle sm:grid-cols-3 sm:px-10;
}

.footerLinksContainer {
  @apply flex flex-col text-center gap-6 text-lg sm:text-left;
}
.footerLinks {
  @apply hover:underline hover:text-slate-800;
}

/* modal classes */

.modal-wrapper {
  @apply w-5/6 h-5/6;
}

.delete-modal-wrapper {
  @apply w-5/6 h-2/5;
}

.modal-overlay {
  @apply z-20 fixed top-0 left-0 w-full h-full flex items-center justify-center bg-slate-400 bg-opacity-80;
}

.modal {
  @apply bg-white h-full w-full rounded-xl px-4 py-4;
}

.modal-header {
  @apply py-3 flex justify-end px-5;
}

.delete-modal-header {
  @apply py-7 flex justify-center px-5 text-xl;
}

.modal-body {
  @apply flex justify-end text-lg;
}
